.le-product-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 38px;

    @media screen and (min-width: 720px) {
        margin-bottom: 40px;
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 70px;
        gap: 50px;
    }
}

.le-product-form__submit:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

.le-product-accordion__item-content {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s cubic-bezier(0.4,0,0.2,1);
}
.le-product-accordion__item.open .le-product-accordion__item-content {
    /* max-height выставляется через JS */
}

.le-product-accordion__item-header svg {
    transition: transform 0.3s cubic-bezier(0.4,0,0.2,1);
}

.option-nominal, .le-product-form__input-item {
    display: flex;
    justify-content: space-between;
}

.option-label, .le-product-form__input-item__title {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 10px;
    color: #000;
    font-family: "Helvetica Neue";
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 7.304px;
    letter-spacing: -0.24px;
    text-transform: uppercase;

    @media (min-width: 1200px) {
        padding-top: 20px;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: -0.32px;
        text-transform: uppercase;
    }
}

.option-values {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 210px;

    @media screen and (min-width: 720px) {
        width: 200px;
    }

    @media screen and (min-width: 960px) {
        width: 278px;
    }

    @media screen and (min-width: 1200px) {
        width: 428px;
        gap: 15px;
    }
}

.option-value {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    background: #F6F6F6;
    height: 30px;
    color: #000;
    leading-trim: both;
    text-edge: cap;
    font-family: "Helvetica Neue";
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: 7.304px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    flex-grow: 1;
    cursor: pointer;
    border: 0;

    @media screen and (min-width: 1200px) {
        padding: 15px 30px;
        height: 50px;
        font-size: 16px;
        letter-spacing: -0.32px;
        text-transform: uppercase;
    }

    &.is-active {
        outline: 1px solid var(--Black, #000);
    }
}

.le-product-form__input {
    width: 210px;
    height: 30px;
    padding: 10px;
    background: #F6F6F6;
    border: 0;
    border-radius: 0;
    font-family: "Helvetica Neue";
    font-size: 10px;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;

    @media screen and (min-width: 720px) {
        width: 200px;
    }

    @media screen and (min-width: 960px) {
        width: 278px;
    }

    @media screen and (min-width: 1200px) {
        width: 428px;
        padding: 15px 30px;
        height: 50px;
        font-size: 16px;
        letter-spacing: -0.32px;
        text-transform: uppercase;
    }

}

.le-product-form__input-item__title {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 10px;
}