$XS: "min-width: 360px";
$S: "min-width: 480px";
$M: "min-width: 720px";
$L: "min-width: 960px";
$XL: "min-width: 1200px";
$XXL: "min-width: 1440px";
$XXXL: "min-width: 1920px";

.le-breadcrumbs {
  display: flex;
  gap: 5px;
  margin-bottom: 40px;
  padding-top: 60px;

  @media ($M) {
    margin-bottom: 74px;
  }

  @media ($L) {
    margin-bottom: 74px;
  }

  @media ($XL) {
    margin-bottom: 69px;
    padding-top: 100px;
    gap: 15px;
  }

  @media ($XXL) {
    margin-bottom: 69px;
  }
}

.le-breadcrumbs__item {
  color: #000;
  font-family: "Helvetica Neue";
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.2px;
  text-transform: uppercase;

  @media ($XL) {
    font-family: "Helvetica Neue";
    font-size: 16px;
    line-height: 100%; /* 16px */
    letter-spacing: -0.32px;
    text-transform: uppercase;
  }
}