<div class="container">
    <div class="le-breadcrumbs le-structure-breadcrumbs">
        <a href="/" class="le-breadcrumbs__item">магазин</a>
        <div href="/" class="le-breadcrumbs__item">/</div>
        <a href="/" class="le-breadcrumbs__item">украшения</a>
        <div href="/" class="le-breadcrumbs__item">/</div>
        <a href="/" class="le-breadcrumbs__item">кольца</a>
    </div>
    <div class="le-structure-inner">
        <div class="le-structure__title-wrapper">
            <h1 class="le-structure__title">гарантия<br>на товар</h1>
        </div>
        <div class="le-structure-col1">
            <div class="le-structure-sections">
                <div class="le-structure-section le-structure-section_active">украшения и одежда</div>
                <div class="le-structure-section">другое</div>
            </div>
        </div>
        <div class="le-structure-col2">
            <div class="le-structure-content">
                <h3>украшения</h3>
                <p>Гарантийный срок — 3 месяца с момента получения  ювелирного изделия.</p>
                <p></p>
                <h3>одежда</h3>
                <p>Гарантия на изделие составляет 3 месяца с момента  получения Заказа (включая день покупки Товара).</p>
            </div>
        </div>
    </div>
</div>