@include background-color(--bg);

&[style*="--delemeter:1"] {
  .breadcrumb-wrapper ul>*:not(:last-child):after {
    content: "/";
  }
}

&[style*="--delemeter:2"] {
  .breadcrumb-wrapper ul>*:not(:last-child):after {
    content: '-';
    font-size: 1.5rem;
    vertical-align: middle;
    line-height: 0;
    font-family: auto;
  }
}

&[style*="--delemeter:3"] {
  .breadcrumb-wrapper ul>*:not(:last-child):after {
    content: ">";
  }
}

&[style*="--delemeter:4"] {
  .breadcrumb-wrapper ul>*:not(:last-child):after {
    content: "\2022";
  }
}

@media screen and (min-width: 769px) {
  .breadcrumb-wrapper ul .button-breadcrumb {
    display: none;
  }
}

.breadcrumb-item.hidden {
  display: none;
}

.bttn-hidden-breadcrumbs {
  border: none;
  line-height: 1;
  background: none;
}

.breadcrumb-wrapper {
    display: grid;
    justify-content: var(--align);
}

.breadcrumb-wrapper ul {
  margin: 0;
  padding: 0;
}

.breadcrumb-wrapper ul li {
  display: inline-block;
  vertical-align: top;
  color: var(--breadcrumb-color, var(--color-text-half-shade));
}

.breadcrumb-wrapper ul li a {
  text-decoration: none;
  color: var(--Black, #000);
}

.breadcrumb-wrapper ul>*:not(:last-child):after {
  content: "/";
  display: inline-block;
  vertical-align: top;
  opacity: 0.7;
  margin: 0 10px;
}

@media screen and (max-width: 768px) {
  .breadcrumb-wrapper ul>*:not(:last-child):after {
    margin: 0 5px;
  }
}

.le-product-breadcrumbs {
  display: flex;
  gap: 5px;
  // margin-bottom: 40px;

  @media (min-width: 720px) {
    // margin-bottom: 74px;
  }

  @media (min-width: 960px) {
    // margin-bottom: 74px;
  }

  @media (min-width: 1200px) {
    // margin-bottom: 69px;
    gap: 15px;
  }

  @media (min-width: 1440px) {
    // margin-bottom: 69px;
  }
}

.le-product-breadcrumbs .breadcrumb-item {
  color: var(--Black, #000);
  leading-trim: both;
  text-edge: cap;
  font-family: "Helvetica Neue";
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%; /* 10px */
  letter-spacing: -0.2px;
  text-transform: uppercase;

  @media (min-width: 1200px) {
    font-family: "Helvetica Neue";
    font-size: 16px;
    line-height: 100%; /* 16px */
    letter-spacing: -0.32px;
    text-transform: uppercase;
  }
}
