@include background-color(--bg);

.subscription-banner {
  width: 100%;
  background-color: #FFFFFF;

  &__container {
    max-width: 100%;
    margin: 0 auto;
  }

  &__content {
    display: flex;
    flex-direction: column;
    min-height: 400px;

    @media screen and (min-width: 960px) {
      flex-direction: row;
      min-height: 500px;
    }
  }

  &__text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 20px;
    background-color: #FFFFFF;

    @media screen and (min-width: 960px) {
      padding: 40px 40px;
      align-items: flex-start;
    }
  }

  &__title {
    font-family: 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 100%;
    color: #000000;
    margin: 0 0 16px 0;
    text-align: center;
    text-transform: uppercase;

    @media screen and (min-width: 720px) {
      font-size: 48px;
    }

    @media screen and (min-width: 960px) {
      font-size: 56px;
      text-align: left;
      margin-bottom: 20px;
    }
  }

  &__subtitle {
    font-family: 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    color: #000000;
    margin: 0 0 32px 0;
    text-align: left;
    max-width: 500px;
    text-transform: uppercase;

    @media screen and (min-width: 720px) {
      font-size: 16px;
    }

    @media screen and (min-width: 960px) {
      font-size: 18px;
      text-align: left;
      margin-bottom: 30px;
    }
  }

  &__form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 960px) {
      align-items: flex-start;
    }
  }

  &__field {
    width: 100%;
    margin-bottom: 24px;
  }

  &__label {
    display: block;
    font-family: 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    color: #808080;
    margin-bottom: 8px;
    text-transform: uppercase;
  }

  &__input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #000000;
    background-color: transparent;
    padding: 8px 0;
    font-family: 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #000000;
    outline: none;
    transition: border-color 0.3s ease;

    &:focus {
      border-bottom-color: #000000;
    }

    &::placeholder {

    }
  }

  &__button {
    width: 100%;
    padding: 16px 32px;
    background-color: #000000;
    color: #FFFFFF;
    border: none;
    font-family: 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color 0.3s ease, opacity 0.3s ease;
    margin-bottom: 20px;

    &:hover {
      background-color: #333333;
    }

    &:active {
      opacity: 0.8;
    }

    @media screen and (min-width: 720px) {
      font-size: 16px;
      padding: 18px 40px;
    }
  }

  &__consent {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    width: 100%;
  }

  &__checkbox {
    flex-shrink: 0;
    width: 18px;
    height: 18px;
    margin-top: 2px;
    cursor: pointer;
    accent-color: #000000;
  }

  &__consent-label {
    font-family: 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 140%;
    color: #808080;
    cursor: pointer;
    user-select: none;

    @media screen and (min-width: 720px) {
      font-size: 12px;
    }
  }

  &__image {
    flex: 1;
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    @media screen and (min-width: 960px) {
      min-height: 500px;
    }
  }

  &__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  &__placeholder {
    width: 100%;
    height: 300px;
    background-color: #F6F6F6;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: 960px) {
      height: 100%;
      min-height: 500px;
    }

    &::after {
      content: 'Изображение';
      font-family: 'Helvetica Neue', sans-serif;
      font-size: 14px;
      color: #CCCCCC;
    }
  }
}

